@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    *::-webkit-scrollbar {
        width: 4px;
    }

    /* Track */
    *::-webkit-scrollbar-track {
        background: #888;
        border-radius: 5px;
    }

    /* Handle */
    *::-webkit-scrollbar-thumb {
        background: #050d1b;
        border-radius: 5px;
        height: 5px;
    }

    * {
        scrollbar-width:4px;
        scrollbar-color: #0d1e39;

    }






}
